<h1>QuestionController#ask</h1>
<p>This your stupid coach, how may I help You? </p>

<form action="/answer">
  <label for="question">Talk to your coach</label>
  <input type="text" id="question" name="question" placeholder="what time is it?">
  <input type="submit" value="Ask!">
</form>
